CPE442/CPE442Lab5/lab5
CPE442/CPE442Lab5/lab5.o
CPE442/CPE442Lab5/sobel_threaded.hpp.gch
CPE442/CPE442Lab5/sobel_threaded.o
CPE442/CPE442Lab6/sobel_threaded_opt
CPE442/CPE442Lab6/sobel_threaded_opt.o
